extends ../../templates/homework.pug

block head
  style.
    .test {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: yellow;
      font-size: 30pt;
      width: 100%;
    }

block body
  .test='test'
