doctype html
html
  head
    include ./head.pug
    block head
    block import
    block style
      style.
        .title {
          position: absolute;
          top: 0px;
          width: 100%;
          padding: 10px;
          text-align: center;
          color: yellow;
        }
  body
    block body
      .title=`${courseAbbr}_HW${homeworkId}`
    script(src='bundle.js')
