extends ../../templates/homework3D.pug

append import
  script(src=`${resources}/libraries/dat.gui/dat.gui.min.js`)

append style
  style.
    #description {
      position: absolute;
      width: 100%;
      height: 1em;
      line-height: 1em;
      padding: 1em 0;
      bottom: 0;
      text-align: center;
      opacity: 0.5;
      color: yellow;
      background: black;
      transition: all 1s;
    }

append body
  #description
